html,
body{
  margin: 0;
  padding: 0;
  background-color: #66bd49;
}

.container {
  width: 445px;
  height: 350px;
  padding: 0 1rem;
  margin: 10rem auto;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
  background-color: #ffffff;
  box-shadow: 1px 5px 10px 5px #518c3e;
}

.container form input {
  width: 322px;
  display: block;
  margin: 0 auto 1rem;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  padding: 1rem;
  box-sizing: border-box;
}

.container form input[type="submit"] {
  text-transform: uppercase;
  cursor: pointer;
  color: #ffffff;
  background-color: #2cb241;
}

.container form span {
  text-align: center;
  color: #a79d9d;
}

.container form span a {
  color: #66bd49;
  text-decoration: none;
}